:root {
  --primary-gray: #1F2428;
  --secondary-gray: #4D5863;
  --medium-gray: #31383F;
  --secondary-purple: rgba(119, 71, 255, 0.5);
  --primary-purple: #7747FF;
  --secondary-background: #262730;
  --color-white: #FFF;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
